node-red/iot.flow
[{"id":"7a0a3082.3ca8d8","type":"websocket-listener","z":"","path":"/ws/worldmap","wholemsg":null},{"id":"2d224fee.76c2b8","type":"mongodb","z":"e6dc37cf.b99ee","hostname":"127.0.0.1","port":"27017","db":"geolocations","name":""},{"id":"7c24be7b.f965d","type":"mqtt-broker","z":"e6dc37cf.b99ee","broker":"153.127.197.166","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"29f574b.33c770c","type":"mqtt in","z":"e6dc37cf.b99ee","name":"","topic":"iot","broker":"7c24be7b.f965d","x":71.49998474121094,"y":107.80000305175781,"wires":[["48b51aa.b3ea7e4"]]},{"id":"48b51aa.b3ea7e4","type":"json","z":"e6dc37cf.b99ee","name":"","x":238.49998474121094,"y":107.99998474121094,"wires":[["be7a3fad.69126","6388d9c.01dc0a8","b3e7e1c6.b8c2d"]]},{"id":"be7a3fad.69126","type":"mongodb out","z":"e6dc37cf.b99ee","mongodb":"2d224fee.76c2b8","name":"","collection":"iot","payonly":false,"upsert":false,"multi":false,"operation":"store","x":492.5,"y":271.20001220703125,"wires":[]},{"id":"1dc264ba.3f40c3","type":"worldmap","z":"e6dc37cf.b99ee","name":"","x":603.5,"y":47.59996032714844,"wires":[]},{"id":"405c16e7.7e8768","type":"websocket out","z":"e6dc37cf.b99ee","name":"","server":"7a0a3082.3ca8d8","client":"","x":632.5,"y":110.99998474121094,"wires":[]},{"id":"6388d9c.01dc0a8","type":"function","z":"e6dc37cf.b99ee","name":"zoom","func":"msg.payload = {\n    command:{\n        layer:\"Esri\",\n        lat: msg.payload.latitude,\n        lon: msg.payload.longitude,\n        zoom:20\n        \n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":413.5,"y":83.19999694824219,"wires":[["405c16e7.7e8768"]]},{"id":"b3e7e1c6.b8c2d","type":"function","z":"e6dc37cf.b99ee","name":"plot","func":"var output = {\n    name: \"iot\",\n    lat: msg.payload.latitude,\n    lon: msg.payload.longitude,\n    icon: \"globe\",\n    iconColor: \"orange\"\n};\nmsg.payload = output;\n\nreturn msg;","outputs":1,"noerr":0,"x":413.5,"y":150.1999969482422,"wires":[["405c16e7.7e8768"]]}]
